body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    /* margin: 0px;
    padding: 0px; */
}

/* #maintable td{

} */

.flighttable{
    display: flex;
    justify-content: center;
}

.flighttable table{
     width: 95%;  
}

#maintable tr.A{
    background-color: cyan;
}
#maintable tr.D{
    background-color: greenyellow;
}

#maintable tr:hover{
    background-color: rgb(155, 6, 185) !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

#maintable svg:hover{
    fill: white;
    stroke: white;
    stroke-width: 5px;

}

.timedelay{
    background-color: rgb(248, 189, 79) !important;
}

#maintable th{
    background-color: gray;
    color: white;
    padding-left: 15px;
}


#maintable th button{
    border: 0px;
    background:none;
    color: white;
    width: 15px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#maintable th button:hover{
    cursor:pointer;
}

.selectBox{
    position: relative;
    width: 300px;
}
.select-items{
    background-color: blue;
}
.select-selected:after{
    position: absolute;
    border-color: aliceblue;
}


.viewSelector{
    text-align: left;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.seatchBox{
    display: flexbox;
}