body{
    direction: rtl;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("./images/backgroundplane.jpeg");
    background-size: cover;
}

#maintable{
    opacity: 90%;
}

.flighttable{
    display: flex;
    justify-content: center;
}

.flighttable table{
     width: 95%;  
}


#maintable tr.A{
    background-color: lightblue;
}
#maintable tr.D{
    background-color:azure;
}

#maintable tr:hover{
    background-color: rgb(21, 119, 231) !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

#maintable svg:hover{
    fill: white;
    stroke: white;
    stroke-width: 5px;

}

.timedelay{
    color: red;
    font-weight: bold;
}

#maintable th{
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: black;
    padding-left: 15px;
}


#maintable th button{
    border: 0px;
    background:none;
    color: black;
    width: 15px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#maintable th button:hover{
    cursor:pointer;
}




.viewSelector{
    text-align: left;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


li{
    list-style-type: none;
    display: inline-block;
}

#popup{
z-index: 99;
padding-bottom: 10px;
padding-top: 15px;
min-width: 80%;
position: fixed;
top: 0%;
left: 12.5%;
transform: translate(-50%, -100%); 
background-color: lightskyblue;
border-radius: 15px;
}

#popupDetails{
text-align: center;
display: grid;
font-weight: bold;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
}

#popup path:hover{
    cursor: pointer;
    fill: white;
}

#popup path{
    text-align: center;
    padding: 50%;
}
#pageList label{
    background: none;
    font-weight: bold;
    padding: 5px;
}

#pageList label:hover{
    background-color: black;
    color: white;
    /* font-weight: bold; */
    cursor: pointer;
}

#pageList input[type="radio"]{
    display: none;
}

#pageList input[type="radio"]:checked + label {
    background-color: rgb(21, 119, 231);
    color: white;
  }



button>img{
    height: 25px;
}

#searchBtn{
    border-radius: 50px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: right;
    width: 97%;
    margin-bottom: 10px;
}

#searchBtn:hover{
    cursor:pointer;
    background-color: white;
}

p{
    font-size: larger;
    font-weight: bold;
    color: black;
}

#searchDiv{
    background-color: rgb(185, 236, 236);
    opacity: 90%;
    direction: ltr;
}

input{
    direction: rtl;
}

#search_button>button{
    height: 50px;
    width: 50px;
    margin-top: 8px;
}

#departures{
    background-color: white ;
}

#ingoing{
    background-color: white ;
}

.container h1{
    color: white;
    font-weight: bold;
}

.dir-right{
    direction: rtl;
}

.pageSelector{
    background-color: white;
    direction: ltr;
    opacity: 50%;
    max-width: 95%;
    margin: auto;

}

@keyframes side2side {
    0% { transform: translateX(30px); }
    50% { transform: translateX(-30px); }
    100% { transform: translateX(30px);  }
  }

  @keyframes rolldown {
    from { transform: translateY(-100%); }
    to { transform: translateY(-15px); } 
  }

  @keyframes rollup {
    from { transform: translateY(-15px); }
    to { transform: translateY(-100%); } 
  }

  #wavebtn{
    border-radius: 50%;
    background-color: rgb(21, 119, 231);
    border: none;
    font-size:xx-large;
    min-height: 50px;
    min-width: 50px;
  }

  #wavebtn:hover{
    filter: brightness(1.15);
  }